<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <title>Some Website</title>
    </head>

    <body>
        {{> header}}

        <p>My portfolio</p>
        
        {{> footer}}
    </body>
</html>